// Color Variables
$yellow: rgb(218, 170, 14);
$light-green: rgb(127, 236, 55);
$white: rgb(255, 255, 255);
$light-gray: rgb(212, 213, 216);
$mint: rgb(170, 240, 113);
$blue: rgb(58, 107, 212);
$dark: rgb(49, 49, 48);

// Font Variables
$main-font: Arial, Helvetica, Sans-Serif;
$cursive-font: 'Sacramento', cursive;
